@mixin clamptext($num) {
    -webkit-line-clamp: $num;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-spot-form {    
    padding: 10px;
    input, textarea {
        margin:10px;        
    }

    button{
        justify-content: center;
        display: flex;
        min-width: 150px;
        margin: 0 auto;
    }
    
}

.navBar {
    a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px;
    }
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;

    .card {
        padding: 10px;
        margin: 10px;
        width:20%;
        .card-img-top {
            object-fit: cover;
            height:100%;
        }
        .card-title {
            @include clamptext(2)
        }
        .card-text {
            @include clamptext(3)
        }
    }
}

option, .form-select {
    text-transform: capitalize;
}